<html>
<head><title>Search for rides </title></head>
<body>
 
  {% if form %}

  <form action="/search/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "submit" value = "Submit" />
  </form>
  {% endif %}  


  {% if results %}

     {% for result in results %}
         
          {% if authenticated %}
        
          <a href="/rides/view/{{result.id}}/"> Host: {{ result.host.user.username }} </a> <br>

          {% endif %}
  
          Starting at: {{ result.trip.startAddress }} <br>
          Ending at: {{ result.trip.endAddress }} <br>
          Leaving on: {{ result.trip.leavingDate }} <br>
          <br>
        
     {% endfor %}


  {% endif %}






</body>
</html>
