<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<title>Your rideShare homepage </title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" \>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" \>
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" \>
<![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.textchange.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/zipScripts.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/style.css" />
</head>
<body>
	<div class="container showgrid">
		<div class="container">
			<div name="Create" id="hover" class="span-24">
				<h1><p>Create Ride</p><h1>	
			</div>
			<div name="Find" id="hover" class="span-24">
				<h1><p>Find A Ride</p></h1>
			</div>
			<div name="Manage" id="hover" class="span-24">
				<h1><p>Manage</p></h1>
			</div>
			
			
			<div name="ride_from" id="ride_form" class="span-24">
				<div name="from_text" class="span-7">
					<h2><p>From:</p></h2>
				</div>
				<div name="from_input" class="span-10">
					<input type="text" id="textfield" name="from_point">
				</div>
			</div>
			
			
			<div name="manage_user_account" id="manage_user_account" class="span-24">
				<p>Edit My Account</p>
			</div>
			<div name="manage_preferences" id="manage_user_account" class="span-24">
				<p>Preferences</p>
			</div>
			
			
			
			
			<div id="map_canvas" style="width:100%; height:75%" name="map" class="span-24"></div>
		</div>
	  </div>
</body>
</html>
