<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<title>Your rideShare homepage </title>
</head>
<body>



Your School: {{ userInfo.university.name }}

<h1>Rides coming up..</h1>
{% if rides %}

     {% for x in lst %}
       
       Heading To:   {{ x.waypointName }} <a href="/rides/removeRider/?tripId={{x.acceptedRides}}&ridersTripId={{x.id}}"> Remove </a><br>

     {% endfor %}

{% else %}

     You don't have any rides

{% endif %}

<br><br><br><br>
<h1>Available Rides </h1>
{% if availableRides %}

     {% for ride in availableRides %}

        Ride To : {{ ride.trip }} <a href="/rides/view/{{ride.id}}/"> View </a> <br>

     {% endfor %}


{% else %}

     There aren't any rides available

{% endif %}

<h1> Rides I'm Hosting </h1>
{% if hostedRides %}

     {% for ride in hostedRides %}
       
         <b> Riding to: {{ ride.trip}}</b> <br> 
       {% for acceptedPassenger in ride.acceptedPassengers.all %}
              <br> remove: <a href="/rides/removeRider/?tripId={{ride.id}}&ridersTripId={{acceptedPassenger.id}}">{{acceptedPassenger.user.user.username}} Waypoint: {{acceptedPassenger.waypoint.waypoint}}</a>
             {% endfor %}


             {% for pendingPassenger in ride.pendingPassengers.all %}
             <br> add: <a href="/rides/addRider/?tripId={{ride.id}}&ridersTripId={{pendingPassenger.id}}"> {{pendingPassenger.user.user.username}} Waypoint--->: {{pendingPassenger.waypoint.waypoint}}</a>
             {% endfor %}
     <br>
     {% endfor %}
{% else %}

     You're not hosting any rides 
{% endif %}
<h1>Create a Trip</h1>

<form action="/rides/home/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit"/>
</form>

{% if badges %}
     {% for badge in badges %}

          You've earned a new badge!! -> {{ badge }} <br>

     {% endfor %}
{% endif%}

</body>
</html>
