<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Register for RideShare </title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" \>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" \>
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" \>
<![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.textchange.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/zipScripts.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="container showgrid">
		<div class="container">
		
	  		<div id="header" class="span-24 last">
	    		<h1>ZipTrail</h1>
	  		</div>
	
	  		<form action="/register/" method="post" name="registrationForm">
				{% csrf_token %}
	  			<div id="Username" class="span-23">
					<h3>
						{% if nameError %}
		  					<p> That username is already  taken...two people with the same email? Sounds fishy </p>
		  				{% endif %}
						Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    				<input type="text" name="email" class="textfield" spellcheck="false" id="email_field" rel="your email" maxlength="50" />
					</h3>
	  			</div>
		
				<div id="Password" class="span-23">
					<h3>
						Password:
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="password" class="textfield" spellcheck="false" name="passphrase" id="password_field" rel="your passphrase" maxlength="15" />
					</h3>
				</div>

				<div id="Password_check" class="span-23">
					<h3>
						Re-enter Password:
						<input type="password" class="textfield" spellcheck="false" name="passphraseCheck" id="passphraseCheck_field" rel="Your passphrase again" maxlength="15" />
					</h3>
		 		</div>
			    <div id="schoolResponse"></div>

	    		<input type="submit" value ="Submit" />
	  		</form>
		</div>
	</div>
	
	
    
   

</body>

</html>
