.textfield.fielderror,.auth_digit.fielderror {
background:#FBE3E4;
}
#header,#Username,#Password, #Password_check { text-align: center;} 


h1 { 
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 12em;
	letter-spacing: -3px;
	font-weight: bold;
	}

h3 { font-size:15px;font-family: arial, serif; }
#hover p:hover { background: #F0F0F0; cursor: pointer;}
#map_canvas { height: 75% }

#hover {
height:175px;
letter-spacing:1px;
}


.textfield
{
font-family:  arial, serif;
font-size: 20px;
font-style:normal;
height:25px;
width:200px;
}

#schoolResponse {
font-size:12px;
height:50px;
letter-spacing:1px;
text-align:center;
}
