.textfield.fielderror,.auth_digit.fielderror {
background:#FBE3E4;
}
#header,#Username,#Password, #Password_check { text-align: center;} 

.container {
    position: relative;
}

.align-right {
    float: left;
}

#manage_user_account {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 9em;
	letter-spacing: -3px;
	font-weight: bold;
	color:#586949;
}

h1 { 
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 12em;
	letter-spacing: -3px;
	font-weight: bold;
	}

h2 {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 9em;
	letter-spacing: -3px;
	font-weight: bold;
	 }

#hover p:hover { background: #F0F0F0; cursor: pointer;}
#map_canvas { height: 75%;
			  margin-top:-2.5em;}

#hover, #ride_form {
height:175px;
letter-spacing:1px;
}


#textfield
{
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 3em;
	letter-spacing: -2px;
	font-weight: normal;
	height:1.5em;
	width:8em;
	position:absolute;
	margin-top:1.8em;
	margin-left:1em;
}

#schoolResponse {
font-size:12px;
height:50px;
letter-spacing:1px;
text-align:center;
}
